25/src/app_server/views/homepage.pug
extends layout 

block content
		.container
			.row.mt-5
				.col-lg-4
					h3 Koledar
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
							.card.mt-3
									.error {{ sporocilo1 }}
									.card-body(ng-repeat="koledar in data.koledarVnos")
										h5#name.card-title Ime: {{ koledar.ime }}
										p#date.card-text Datum: {{ koledar.datum }}
										p#duration.card-text Trajanje: {{ koledar.trajanje }}
										p#description.card-text Opis: {{ koledar.opis }}
										.btn-group(role='group')
											a.card-link(href="/urediVnosIzKoledarja/" + podatek._id)
												button.btn.btn-primary(type='button') Uredi
											a.card-link(href="/izbrisiVnosIzKoledarja/")
												button.btn.btn-primary(type='button') Izbriši
				.col-lg-4
					h3 Urnik
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
							.card.mt-3
								.error {{ sporocilo2 }}
								.card-body(ng-repeat="urnik in data.urnikVnos")
									h5#name.card-title Ime: {{ urnik.ime }}
									p#duration.card-text Trajanje: {{ urnik.trajanje }}
									p#color.card-text Barva: {{ urnik.barva }}
									.btn-group(role='group')
										a.card-link
											button.btn.btn-primary(type='button') Uredi
										a.card-link
										form(action='/urnik/' + "{{ urnik._id }}", method='post' role='form')
											button.btn.btn-primary(type='submit') Izbriši
											
				.col-lg-4
					h3 TODO seznami
					.row
						.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-controller="homepageCtrl")
								.card.mt-3
									.error {{ sporocilo3 }}
									.card-body(ng-repeat="todo in data.todoVnos")
										p#description.card-text Opis: {{ todo.opis }}
										.btn-group(role='group')
											button.btn.btn-primary(type='button') Uredi
											form(action='../api/deleteTODO/', method='get' role='form')
												button.btn.btn-primary(type='submit') Izbriši
											
											
										

25/src/app_client/homepage/homepage.pogled.html
<navigacija></navigacija>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <h3>Calendar</h3>
            <a ng-click="vm.prikaziPojavnoOknoKoledarVnos()" ng-show="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Add to Calendar</a>
            <a href="/prijava?stran={{ vm.prvotnaStran }}" ng-hide="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Login to add to Calendar</a>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div id="card" class="card mt-3" ng-repeat="koledar in vm.data.koledarVnos">
                        <div class="card-body" >
                            <h5 class="card-title" id="name">Name: {{ koledar.ime }}</h5>
                            <p class="card-text" id="date">Date: {{ koledar.datum | date: 'dd-MM-yyyy' }}</p>
                            <p class="card-text" id="duration">Duration: {{ koledar.trajanje }}</p>
                            <p class="card-text" id="description">Description: {{ koledar.opis }}</p>
                            <div class="btn-group" role="group"><a class="card-link"><button class="btn btn-primary" ng-click="vm.prikaziPojavnoOknoKoledarUredi(koledar)" type="button">Edit</button></a>
                            <a class="card-link"><button class="btn btn-primary" ng-click="vm.odstraniIzKoledarja(koledar._id)" type="button">Delete</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Timetable</h3>
            <a ng-click="vm.prikaziPojavnoOknoUrnikVnos()" ng-show="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Add to Timetable</a>
            <a href="/prijava?stran={{ vm.prvotnaStran }}" ng-hide="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Login to add to Timetable</a>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div id="card" class="card mt-3" ng-repeat="urnik in vm.data.urnikVnos">
                        <div class="card-body" >
                            <h5 class="card-title" id="name">Name: {{ urnik.ime }}</h5>
                            <p class="card-text" id="duration">Duration: {{ urnik.trajanje }}</p>
                            <p class="card-text" id="color">Colour: {{ urnik.barva }}</p>
                            <div class="btn-group" role="group"><a class="card-link"><button class="btn btn-primary" ng-click="vm.prikaziPojavnoOknoUrnikUredi(urnik)" type="button">Edit</button></a>
                            <a class="card-link"><button class="btn btn-primary" ng-click="vm.odstraniIzUrnika(urnik._id)" type="button">Delete</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>TODO</h3>
            <a ng-click="vm.prikaziPojavnoOknoTodoVnos()" ng-show="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Add to TODO</a>
            <a href="/prijava?stran={{ vm.prvotnaStran }}" ng-hide="vm.jePrijavljen" class="btn btn-default btn-md pull-right">Login to add to TODO</a>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div id="card" class="card mt-3" ng-repeat="todo in vm.data.todoVnos">
                        <div class="card-body" >
                            <p class="card-text" id="description">Description: {{ todo.opis }}</p>
                            <div class="btn-group" role="group"><a class="card-link"><button class="btn btn-primary" ng-click="vm.prikaziPojavnoOknoTodoUredi(todo)" type="button">Edit</button></a>
                            <a class="card-link"><button class="btn btn-primary" ng-click="vm.odstraniIzTodo(todo._id)" type="button">Delete</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
