25/src/app_client/avtentikacija/registracija/registracija.pogled.html
<navigacija></navigacija>


<div class="row page-header">
    <div class="col-lg-12">
        <h1 style="text-align:center;">{{ vm.glavaStrani.naslov }}</h1>
    </div>
    <p class="lead" style="text-align:center;">Already registered? Please <a href="/prijava?stran={{ vm.prvotnaStran }}">login</a>.</p>
</div>
<form class="form-horizontal" ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
    <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
    <div class="form-group"><label class="col-lg-2 control-label" for="inputEmail">Email</label>
        <div class="col-lg-9"><input class="form-control" ng-model="vm.prijavniPodatki.email" name="inputEmail" type="email" placeholder="Email" /></div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label" for="inputPassword">Password</label>
        <div class="col-lg-9"><input class="form-control" name="inputPassword" ng-model="vm.prijavniPodatki.password" type="password" placeholder="Password" id="password1" /></div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label" for="inputRepeatPassword">Repeat password</label>
        <div class="col-lg-9"><input class="form-control" name="inputRepeatPassword" ng-model="vm.prijavniPodatki.repeatPassword" type="password" placeholder="Password" id="password2" /></div>
    </div>
    <div class="form-group">
        <div class="col-lg-9 col-lg-offset-2"><button class="btn btn-default" type="reset">Cancel</button><button class="btn btn-primary" type="submit">Submit</button></div>
    </div>
</form>

25/src/app_server/views/registracija.pug
extends layout

block content
  .row.page-header
    .col-lg-12
      h1(style="text-align:center;") Registracija
  form.form-horizontal
    .form-group
      label.col-lg-2.control-label(for="inputEmail") Email
      .col-lg-9
        input#inputEmail.form-control(type="text" placeholder="Email")
    .form-group
      label.col-lg-2.control-label(for="inputPassword") Password
      .col-lg-9
        input#inputPassword.form-control(type="password" placeholder="Password")
    .form-group
      label.col-lg-2.control-label(for="inputRepeatPassword") Repeat password
      .col-lg-9
        input#inputRepeatPassword.form-control(type="password" placeholder="Password")
    .form-group
      .col-lg-9.col-lg-offset-2
        button.btn.btn-default(type="reset") Cancel
        button.btn.btn-primary(type="submit") Submit
